@model IEnumerable<PresentationLayer.Models.QueryViewModels.UserQueryViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="user-id">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <button type="button" class="btn btn-danger" id="btn-modal-delete" data-bs-toggle="modal"
                    data-bs-target="#modalDeleteUser" value="@item.Id" data-name="@item.Name">Delete</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" data-bs-toggle="modal"
                    data-bs-target="#modalUpdateUser" value="@item.Id" data-name="@item.Name">
                        Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalUpdateUser" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblModalUserTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSaveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteUser" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblModalUserDeleteTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modal-delete-phrase">Are you sure you want to delete <b id="modal-delete-name"></b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-delete-user">Yes, delete this user</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
    var btnModalDelete = document.getElementById("btn-modal-delete");
    var btnDelete = document.getElementById("btn-delete-user");
    var btnSaveChanges = document.getElementById("btnSaveChanges");
    var btnUpdate = document.getElementById("btnUpdate");

    const isIdValid = (id) => {
        return id != undefined && id > 0;
    };
</script>

<script type="text/javascript">
    $(() => {
        btnDelete.addEventListener('click', () => {
            let id = parseInt(btnModalDelete.value);
            if (isIdValid(id)) {
                $.ajax({
                    type: 'POST',
                    url: "/User/Delete/",
                    async: true,
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    data: JSON.stringify(id)
                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(() => {
        btnUpdate.addEventListener('click', () => {
            let name = btnUpdate.getAttribute('data-name');
            let lblModalUserTitle = document.getElementById("lblModalUserTitle");
            lblModalUserTitle.innerHTML = "Editing User: " + name;
        });

        btnModalDelete.addEventListener('click', () => {
            let name = btnModalDelete.getAttribute('data-name');
            let spanName = document.getElementById('modal-delete-name');
            spanName.innerHTML = name;
        });
    });
</script>